# ====================================
# 4ViegoMains — Environment Variables
# ====================================
# Copie para .env e preencha os valores

# --- Riot Games API ---
RIOT_API_KEY=RGAPI-7315ab81-2f1f-4fd2-ae0f-75ebb65ac6b3

# --- PostgreSQL ---
DB_PASSWORD=viego_secret_2024

# --- Grafana ---
GRAFANA_PASSWORD=admin123

# --- Frontend ---
NEXT_PUBLIC_API_URL=http://localhost:8081

# --- Logging ---
LOG_LEVEL=debug
